<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mucfc.mapper.MerInfoMapper">	
	<!--  查询所有记录  -->  
    <select id="selectAll" resultType="com.mucfc.model.MerInfo">  
       select * from merinfo 
    </select> 
    
    <!--  查询单条通过id记录  -->  
    <select id="selectById" resultType="com.mucfc.model.MerInfo" parameterType="int">  
       select 
       		merinfo.*,
       		styleinfo.sname as sname
       from 
       		merinfo 
       left join 
       		styleinfo 
       on  
       		merinfo.sid=styleinfo.sid
       where 
       		mid=#{mid}
    </select>  
</mapper>